@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.8rem;
  /* font-weight: 400; */
  line-height: 1.4;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(23, 23, 36);
}
.nav-list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}
.nav-list li {
  padding: 20px;
  font-size: 1.8rem;
}
.nav-list li:hover {
  background-color: aqua;
}
.nav-list li a {
  text-decoration: none;
  color: white;
}
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-image: url(./backG.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.welcome-section h1 {
  font-size: 3rem;
}
.welcome-section p {
  font-size: 1.5rem;
  font-weight: 300;
}
#projects {
  text-align: center;
  padding: 10rem 2rem;
  background-color: rgb(23, 23, 36);
}
.projects-section-header {
  margin: 0 auto 6rem auto;
  /* border-bottom: white 2px solid; */
  max-width: 640px;
  font-size: 2.5rem;
  color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.project {
  background: rgb(1, 78, 97);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-decoration: none;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: white;
}
img {
  display: block;
}
#all {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 1.8rem;
  background: rgb(1, 78, 97);
  border-radius: 10px;
}
#all:hover {
  color: rgb(23, 23, 36);
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 400px;
  background-color: #24252a;
}
.contact-section-header {
  margin-bottom: 30px;
  color: white;
}
.contact-section-header h2 {
  text-align: center;
}
.contact-section-header p {
  font-size: 1rem;
  text-align: center;
}
.contact-links a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

footer {
  background-color: rgb(23, 23, 36);
  color: white;
  font-size: 1.1rem;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid rgb(23, 23, 36);
}
.code {
  display: none;
}
@media (max-width: 680px) {
  .contact-links {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 910px) {
  #first {
    margin-right: 30px;
  }
  #second {
    min-width: 150px;
  }
}

.contract-links a {
  display: block;
}
.contact-details:hover {
  color: aqua;
  transform: translate(0, 5px);
}
@media (max-width: 480px) {
  .nav-list li {
    font-size: 1rem;
  }
  #navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .welcome-section h1 {
    font-size: 1.7rem;
  }
  #projects h2 {
    font-size: 1.7rem;
  }

  .projects-grid {
    width: 80%;
  }
}
@media (max-width: 740px) {
  .contact-links {
    font-size: 80%;
  }
  .contact-section-header h2 {
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .projects-section-header {
    font-size: 2rem;
  }
  .contact-links a {
    padding: 10px;
  }
}
@media (max-width: 770px) {
  .projects-grid {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .projects-grid .project {
    font-size: 1rem;
    max-width: 250px;
  }
}
@media (max-width: 340px) {
  .projects-grid .project {
    font-size: 1rem;
    max-width: 200px;
  }
}
@media (max-width: 290px) {
  .projects-grid .project {
    font-size: 1rem;
    max-width: 150px;
  }
}
